body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(173, 171, 171);
  color: black;
}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em;
}
h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  color: green;
}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted;
}
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 180px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: black; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  background: white;
  border-right: 1em solid greenyellow;
  text-align: right;
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}
#home {
  top: 20px;
}
#user {
  top: 80px;
}
#insc {
  top: 140px;
}
#deco {
  top: 223px;
}

#conn {
  top: 80px;
}

.inscription input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
.connexion input[type="text"],
input[type="password"] {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
